src/Lionk.Ble.Temperature/bin/Debug/net8.0
src/Lionk.Ble.Temperature/obj
src/Lionk.Ble.Temperature.Razor/Lionk.Ble.Temperature.Razor/bin/Debug/net8.0
src/Lionk.Ble.Temperature.Razor/Lionk.Ble.Temperature.Razor/obj
